.NavbarContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
}

.NavbarLinks{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    font-weight: bold;
}

.AnchorLink{
    text-decoration: none;
}

.AnchorLink:hover{
    text-decoration: underline;
    font-weight: bold;
    
}

.loginLogout{
    border: 1px solid #551A8B;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    cursor: pointer;
    font-weight: lighter;
    color: #551A8B;
}

.loginLogout:hover{
    background-color: #551A8B;
    color: black;
}

.logo{
    width: 150px;
    height: 60px;
}

@media only screen and (max-width:576px){
    .NavbarLinks{
        display: none;
    }
    .logo{
        width: 120px;
        height: 60px;
    }
}