.App {
  text-align: center;
}

.signUpBackgroundImage{
  height: 100vh;
  background-image: url('https://i.pinimg.com/originals/3d/b1/39/3db1396112d76a7dd49bd11eaf67f52f.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}
